mysql:
  image: mysql
  volumes:
   - ./app/docker/mysql/data:/var/lib/mysql
  environment:
   - MYSQL_ROOT_PASSWORD=some
   - MYSQL_DATABASE=some
   - MYSQL_USER=some
   - MYSQL_PASSWORD=some

nginx:
  build: ./nginx-php-fpm/
  ports:
    - "8000:80"
  volumes:
    - ./app:/usr/share/nginx/html
    - ./app/docker/nginx:/etc/nginx/sites-available
  links:
    - mysql:db